---
export interface Props {
  title: string
  description: string
}

const { title, description} = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<meta http-equiv="delegate-ch" content="sec-ch-width https://res.cloudinary.com; sec-ch-dpr https://res.cloudinary.com; sec-ch-viewport-width https://res.cloudinary.com;">

<link rel="icon" type="image/x-icon" href="/images/active-favicon.ico" />
<link
  rel="icon"
  type="image/png"
  href="/images/active-favicon-16x16.png"
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/png"
  href="/images/active-favicon-32x32.png"
  sizes="32x32"
/>
<link
  rel="apple-touch-icon"
  href="/images/active-apple-touch-icon.png"
  sizes="180x180"
/>
<meta name="theme-color" content="#ffffff" />
<meta name="robots" content="index, follow" />
<meta name="google-site-verification" content="tVxgKEIfMonxcyLLkr0zFTdU7fHI4aeskXgtc0wE-zg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />



<!-- Fonts & Images -->
<link rel="dns-prefetch" href="//res.cloudinary.com" />
<link rel="preconnect" href="https://res.cloudinary.com" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet"
/>




