---
---

<section>
  <div class="flex flex-col-reverse justify-center items-center my-12">
    <img
      alt="AI generated image of a neon human brain with digital lights dripping off it."
      src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687805654/website-assets/brain.png"
      sizes="100vw"
      height="355"
      width="532"
      loading="lazy"
      />
  </div>
</section>
