---
---

<section class="flex flex-row items-center mb-8 mt-28">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 wrapper">
    <img
      alt="AI generated computers with creative content on their screens."
      src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687460969/website-assets/computers.png"
      sizes="100vw"
      width="520"
      height="347"
      loading="lazy"
      class="hidden sm:block"
    />
    <div class="flex flex-col justify-center">
      <h2 class="text-gray-100 text-4xl">
        Hi. I'm <span class="text-gradient">Nabin Dhami</span>
      </h2>
      <p>
          A versatile web developer skilled in both frontend and backend technologies.
      </p>
      <p class="text-gray-400">
          With a keen eye for design and a love for elegant code, I bring ideas to life in the digital realm.
          From building seamless user interfaces with HTML, CSS, and JavaScript, to architecting robust APIs
          and databases using Python, Node.js, and SQL.
      </p>
    </div>
  </div>
</section>

