---
---

<div class="w-full lg:mx-auto lg:max-w-4xl xl:max-w-6xl border-t h-16" style="border-image-source: linear-gradient(to left, #000, rgb(243 244 246), #000); border-image-slice: 1; background-image: radial-gradient(at top center, rgba(243, 244, 246, 0.15), #000 60%)"></div>
