---
import Icon from "./Icon.astro";
---

<section
  class="py-4 bg-gradient-to-b from-[rgba(255,255,255,0.05)] to-[rgba(255,255,255,0.03)] border-t border-b border-grayBorder"
>
  <div class="w-11/12 mx-auto">
    <ul class="flex items-center justify-center gap-10 flex-wrap py-6">
      <li class="">
        <Icon
          icon="tailwindcss"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>

      <li class="">
        <Icon
          icon="react"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>
      <li class="">
        <Icon
          icon="svelte"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>

      <li class="">
        <Icon
          icon="nextjs"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>

      <li class="">
        <Icon
          icon="nodejs"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>
      <li class="">
        <Icon
          icon="nestjs"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>
      <li class="">
        <Icon
          icon="mongodb"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>
      <li class="">
        <Icon
          icon="mysql"
          class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
        />
      </li>

      <Icon
        icon="firebase"
        class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3"
      />
    </ul>
  </div>
</section>
