---
import Icon from "./Icon.astro";

const icons = [
  "tailwindcss",
  "react",
  "svelte",
  "nextjs",
  "nodejs",
  "nestjs",
  "mongodb",
  "mysql",
  "firebase",
];
---


<section class="py-4 bg-gradient-to-b from-[rgba(255,255,255,0.05)] to-[rgba(255,255,255,0.03)] border-t border-b border-grayBorder">
  <div class="w-11/12 mx-auto">
    <ul class="flex items-center justify-center gap-10 flex-wrap py-6">
      {icons.map((icon) => (
        <li>
          <Icon icon={icon} class="h-16 w-16 aspect-square border border-grayBorder rounded-lg p-3" />
        </li>
      ))}
    </ul>
  </div>
</section>
