---
---

<section class="py-4 bg-gradient-to-b from-[rgba(255,255,255,0.05)] to-[rgba(255,255,255,0.03)] border-t border-b border-grayBorder">
  <div class="w-11/12 mx-auto">
    <ul class="flex items-center justify-center gap-10 flex-wrap py-6">
      <li class="">
        <img  
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/tailwindcss.svg"
          alt="Educate"
          loading="lazy"
        />
      </li>

      <li class="">
        <img
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/react.svg"
          alt="Enjoy"
          loading="lazy"
        />
      </li>
      <li class="">
        <img
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/svelte.svg"
          alt="Enjoy"
          loading="lazy"
        />
      </li>






      <li class="">
        <img
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/nextjs.svg"
          alt="Enjoy"
          loading="lazy"
        />
      </li>

      <li class="">
        <img
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/nodejs.svg"
          alt="Enjoy"
          loading="lazy"
        />
      </li>
      <li class="">
        <img
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/nestjs.svg"
          alt="Enjoy"
          loading="lazy"
        />
      </li>
      <li class="">
        <img
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/mongodb.svg"
          alt="Enjoy"
          loading="lazy"
        />
      </li>
      <li class="">
        <img
          aria-hidden="true"
          class="h-16 border border-grayBorder rounded-lg p-2"
          height="64"
          width="64"
          src="/src/assets/icons/mysql.svg"
          alt="Enjoy"
          loading="lazy"
        />
      </li>

      <img
      aria-hidden="true"
      class="h-16 border border-grayBorder rounded-lg p-2"
      height="64"
      width="64"
      src="/src/assets/icons/firebase.svg"
      alt="Enjoy"
      loading="lazy"
    />
  </li>
    </ul>
  </div>
</section>
