---
import Icon from './Icon.astro'
---

<ul class="hidden md:flex gap-8" id="socials">
  <li>
    <a
      href="https://github.com/"
      rel="me"
      target="_blank"
      class="github"
      title="Check out my code on GitHub"
    >
      <Icon icon="Github" style="height:1.25rem;" class="icon text-gray-500 fill-gray-500 hover:fill-gray-100 hover:text-gray-100 active:fill-gray-100 active:text-gray-100 transition duration-300 ease-in-out" />
    </a>
  <li>
    <a
      href="#"
      rel="me"
      target="_blank"
      class="linkedin"
      title="Get professional on LinkedIn"
    >
      <Icon icon="LinkedIn" style="height:1.25rem;" class="icon text-gray-500 fill-gray-500 hover:fill-gray-100 hover:text-gray-100 active:fill-gray-100 active:text-gray-100 transition duration-300 ease-in-out" />
    </a>
  </li>
  </li>
</ul>
